@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat&display=swap');

* {
	padding: 0;
	margin: 0;
}
nav {
	background-color: #E8C66A;
	border: 1px black solid;
	font-weight: bold;
	font-size: 1em;
	font-family: Helvetica;
	line-height: 3.5em;
	text-align: left;
	padding: 20px;
}
nav a {
	color: black;
	margin-right: 1em;
}
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
body {
	background-color: #1E90FF;
	font-size:16px;
	line-height: 2em;
	text-align: center;
}
main {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
section {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
h1 {
	color: gold;
	font-family: 'Merriweather', serif;
	padding-bottom: 0.35em;
	padding-top: 0.25em;
	font-size: 2.5em;
}
h2 {
	color: gold;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.06em;
}
h3,p {
	font-weight: normal;
}
h3{
	font-style: italic;
	font-size: 1.25em;
	letter-spacing: 0.025em;
	padding: 0 10em;
}
h3,h4,p,footer{
	font-family: Helvetica, sans-serif;
}
h3,h4,p{
	color:#7FFFD4;
}
h4{
	font-size: 1.5em;
	line-height: 2.5em;
}
p {
	width: 25em;
}
footer {
	font-style: italic;
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px; 
}
.images {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}
#kbell {
	width: 35%;
}